<%- include("../partials/default/header") %> 




  <div class="conatiner">
    <div class="row center">
      <div class="col-sm-12 col-md-6 schedule-text">
        <h2>Bulk SMS Scheduler</h2>
        <h2 class="underline"></h2>
        <p>
          This application lets you create and queue up your message for sending so you never have to forget sending important
          reminders and notifications.
          The scheduler app sends intermittent bulk SMS to register user based on specified time(s)
        </p>
      </div>
      <div class="col-sm-12 col-md-6 schedule-card">
        <%- include ("../partials/messages"); %>
        <div class="card card-body text-center p-5">
          <h1><i class="fas fa-house-user fa-2x"></i></h1>
          <p>Sign Up To Recieve Regular Reminder</p>
          <a href="/register" class="btn btn-info">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/default/footer") %> 

